@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        var user = await Context.GetIdentityServerUserAsync();
        name = user?.FindFirst("name")?.Value;
    }
}
<!DOCTYPE html>
<html>
<head>
    <environment names="Development">
        <link href="~/lib/fontawesome/css/font-awesome.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/material-design-lite/material.css" rel="stylesheet" />
        <script src="~/lib/material-design-lite/material.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/material-design-lite/material.css" rel="stylesheet" />
        <link href="~/lib/fontawesome/css/font-awesome.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">
                <a asp-action="Index" asp-controller="Home">
                    <img src="~/icon.png" class="icon-banner">
                </a>
            </span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href=""> <i class="material-icons" style="margin-right: 10px;">account_circle</i> @name</a> 
                <a  class="mdl-navigation__link"  asp-action="Logout" asp-controller="Account"><i class="material-icons">exit_to_app</i></a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">
            <img src="~/icon.png" class="icon-banner">
        </span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" asp-action="Index" asp-controller="User">
                <i class="material-icons" style="margin-right: 10px;">supervisor_account</i>Users
            </a>
            <a class="mdl-navigation__link" asp-action="Index" asp-controller="Client">
                <i class="material-icons" style="margin-right: 10px;">language</i>Clients
            </a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="container body-content variable-content">
            @RenderBody()
        </div>
    </main>
</div>   


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/material-design-lite/material.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/material-design-lite/material.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
