@model System.Collections.Generic.IList<IdentityServerAdmin.Dtos.UserDto>
<style>
    body {
        padding: 20px;
        background: #fafafa;
        position: relative;
    }
</style>
<div>
    <h1 class="mdl-typography--display-1 text-muted">Users</h1>
    <div class="row">
        <div class="ml15 mb15">
            <a asp-action="CreateClient" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                <i class="material-icons">add</i>
            </a>
        </div>
        
    </div>

    
    <table class="mdl-data-table mdl-js-data-table" style="width: 100%">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th class="mdl-data-table__cell--non-numeric">Username</th>
            <th class="mdl-data-table__cell--non-numeric">Command</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="mdl-data-table__cell--non-numeric">@item.Name</td>
                <td class="mdl-data-table__cell--non-numeric">@item.Username</td>
                <td class="mdl-data-table__cell--non-numeric" style="width: 10%">
                    <a asp-action="EditUser" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                        <i class="material-icons">edit</i>
                    </a>
                </td>
            </tr>
        }
     
        </tbody>
    </table>
</div>